

#logo {

				display: flex;
             	justify-content: center;
             	align-items: center;
             	margin-left: auto;
   				margin-right: auto;
   				height: 60em;
   				width: 30em;
   				margin-top:auto;



			}


 .box {
            	display: flex;
             	justify-content: center;
             	align-items: center;
             	margin-left: auto;
   				margin-right: auto;
   				height: 50em;
   				width: 50em;
   				margin-top:auto;


          }

input[type="button"] {


	background-color: #D3D3D3

}

.blue {

				display: flex;
             	justify-content: center;
             	align-items: center;
             	margin-left: auto;
   				margin-right: auto;
   				height: 50em;
   				width: 50em;
   				color: blue;
   				margin-top:auto;

} 









 